
A:link, A:visited, A:active, A:hover { color: #30a966; }
A:link, A:visited { text-decoration: none; }
A:hover, A:active { text-decoration: none; color: #444444; }
h1{
    color: green;
  
    font-family: serif;
    
}
.selected{
    
    color: gold;
}
.header{
    padding: 10px;
    background-color: yellow;
    height: 70px;
   
}
.body{
    background-color: #30a966;
}
.footer{
    height: 150px;
    background-color: yellowgreen;
}
.header-logo{
    float: left;
}

.header-otoiawase{
    display: inline-block;
    padding: 30px;
}
.footer-logo{
    font-size:30px;
    float: left;
}
.footer-list{
    font-size: 20px;
    float: right;
    padding: 10px;
}
span{
    color: darkslategray
}