BODY {
color: #444455;
font-size: 11pt;
background-color: #f5f5f5;
scrollbar-3dlight-color:#999999;
scrollbar-arrow-color:#999999;
scrollbar-base-color:#d3dada;
scrollbar-darkshadow-color:#999999;
scrollbar-face-color:#d3dada;
scrollbar-highlight-color:#ffffff;
scrollbar-shadow-color:#d3dada;
margin: 20pt 0pt 20pt 30pt;
line-height: 150%;
}
A:link, A:visited, A:active, A:hover { color: #30a966; }
A:link, A:visited { text-decoration: none; }
A:hover, A:active { text-decoration: none; color: #444444; }
h1{
    color: green;
  
    font-family: serif;
    background-color: darkorange;
}
.selected{
    color: gold;
}
.header{
    background-color: yellow;
}
.body{
    background-color: #30a966;
}
.footer{
    background-color: #999999;
}
.header-logo{
    padding: 20px;
    font-size: 20px;
    float
}
.header-otoiawase{
    padding: 22px;
    float: left;
}