
A:link, A:visited, A:active, A:hover { color: #3d4fe9; }
A:link, A:visited { text-decoration: none; }
A:hover, A:active { text-decoration: none; color: #444444; }
h1{
    color: green;
  
    font-family: serif;
    
}
.selected{
    float: left;
    color: rgb(2, 2, 2);
}
.header{
    
    background-color: rgba(199, 255, 216, 0.5);
    height: 70px;
   
}
.body{
    height: 900px;
    background-color: #50fc9d;
}
.footer{
    height: 40px;
    background-color: rgb(255, 67, 224);
}
.header-logo{
    float: left;
}

.header-otoiawase{
    display: inline-block;
    
}
.footer-logo{
    font-size:30px;
    float: left;
}
.footer-list{
    font-size: 10px;
    float: right;
    
}
span{
    color: darkslategray
}
.square2 {
    width: 200px;
    height: 200px;
    background: rgb(238, 44, 44);
    border-radius: 40px 0 40px 0; /*左上,右下に40px*/
 }